.overall_team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* padding-top: 30px;
  padding-bottom: 30px; */
  background: rgb(0, 0, 0);
  padding-left: 20px;
  /* height: 1000vh; */
}
.close_icon_team{
  position: absolute;
  top: 2rem;
  left: 2rem;

}
.Team{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 4rem;
    margin-right: 4rem;
    /* background-color: antiquewhite; */
    /* height: 1000vh; */
}
.team_wrapper{
   display: grid;
   place-items: center;
   grid-template-columns: repeat(5,1fr);
   gap: 2rem;
}
.mini_event_wrapper{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5,1fr);
  
}

/* 
.team_wrapper_last {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.Main_teams {
  background-color: #000;
}

.team_col {
  display: flex;
  justify-content: center;
  align-items: center;
  height:265px;
  /* margin-left: 20px; */
}

.Main_card {
  width: 200px;
  height: 100%;
  /* margin-left: 10px;
  margin-right: 10px; */
}

.team_title {
  font-weight: 500;
  margin-top: 80px;
  margin-bottom: 40px;
  color: aliceblue;
  text-align: center;
}


@media (max-width:900px) {
  .overall_team {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgb(0, 0, 0);
    padding-left: 20px;
    justify-content: flex-start;
  }
  
  .Team {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 950vh;
    flex-direction: column;
    margin-top: 0px;
  
  }

  
  
  .team_wrapper {
    height: 250vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
   
  }
  
  .team_wrapper_last {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .Main_teams {
    background-color: #000;
  }
  
  .team_col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 260px;
    margin-top: 30px;
    /* margin-left: 20px; */
  }
 
  
  .Main_card {
    width: 200px;
    height: 100%;
    /* margin-left: 10px;
    margin-right: 10px; */
  }
  
  .team_title {
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 00px;
    padding-bottom: 00px;
    color: aliceblue;
    text-align: center;
  
  }
  
}