.about{
    background-color: #13294B;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; 
     color: aliceblue;
     padding-top: 100px;
}

.about_title{
    margin-top:30px;
    margin-bottom: 30px;
}

.content_box{
    width: 90%;
    height: 400px;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding-left: 25px;
    padding-right: 25px;
    /* background-color: blue; */
}
.about_content{
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 300px;
    text-align: center;
}

@media (max-width:900px) {
    .about{
        background-color: #13294B;
        height: 120vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column; 
         color: aliceblue;
         /* padding-top: 300px; */
    }
    
    .about_title{
        margin-top:30px;
        margin-bottom: 30px;
    }
    
    .content_box{
        width: 90%;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* background-color: blue; */
    }
    .about_content{
        text-align: center;
        width: 100%;
    }
    
}