* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  .App {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  html,
  body {
    margin: 0;
  }

.Navbar{
  display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Dongle&family=Mochiy+Pop+P+One&family=Montserrat:wght@700&family=Outfit:wght@300&family=Roboto+Mono:ital@1&display=swap');



body{
    margin: 0;
    padding: 0;
}

.main_navbar{
padding:0px 20px;
margin: 0px;
display:flex;
justify-content:space-between;
background-color: transparent;
position: fixed;
width: 100%;
z-index: 9999;
overflow: hidden;
}

.main_navbarChange{
  padding:0px 20px;
  margin: 0px;
  display:flex;
  justify-content:space-between;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  }
.logo_nav{
  margin-top: 10px;
}

.nav-items{
    display: inline-block;
    position: relative;
    /* margin:10px 0px 0px; */
    /* background-color: blue; */
    padding: 0px 20px;
}


.nav-items a:hover{
    color: #c43cea;
    text-decoration: none;
    border-bottom: 2px solid #c540ea;
}
.black_logo{
   width: 150px;
   height: 70px;
}


.nav-links{
    padding-top: 30px;
    
}
ul{
    display: flex;
}

li{
    list-style: none;
    font-family: 'Montserrat',Arial, "sans-serif", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: whitesmoke;
    transition: 0.1s;
    cursor: pointer;
    font-size: 16px;
}
a{
    list-style: none;
    font-family: 'Montserrat',Arial, "sans-serif", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color:#99a0a7;
    transition: 0.1s;
    cursor: pointer;
    font-size: 16px;
}



.nav-icon{
   display: none;
}




@media (max-width: 900px) {
  
.Navbar{
  display: flex;
  justify-content: right;
}
  
.main_navbar{
  display: none;
}
  }