.main_merchan{
    display: flex;
    align-items: center;
    height: 100vh;
    background: url('../../Images/Events_image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    /* padding: 40px; */
    width: 100%;
}

.merchanImg{
    width: 450px;
    height: 400px;
    /* margin-left: 40px; */
}
.right_class{
    /* text-align: center; */
    color: aliceblue;
    font-size: 15px;
}
.merchantext{
    font-size: 17px;
    text-align:right;
    color: aliceblue;
}
.form_paper_merchan{
    padding: 20px;
    margin-left: 100px;
}
.formwidthmerchan{
    display: flex;
    flex-direction: column;
}


@media (max-width:900px) {
    .main_merchan{
        display: flex;
        align-items: center;
        height: 200vh;
        justify-content: center;
        padding: 40px;
        width: 100%;
        flex-direction: column;
        padding-top: 100px;
    }
    
    .merchanImg{
        width: 350px;
        height: 300px;
        /* margin-left: 40px; */
    }
    .register_class{
        /* text-align: center; */
        color: aliceblue;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
        margin-top: 30px;
    }
    .merchantext{
        font-size: 15px;
        text-align:center;
        padding: 20px;
    }
    
}