@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;400&family=Lato:wght@300;400&family=Montserrat:ital,wght@0,500;0,600;0,700;1,300;1,900&family=Nunito+Sans:ital,wght@0,200;1,200;1,300&family=Roboto&family=Space+Mono:ital@1&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    
}
.image{
    object-fit: contain;
}

.paper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;

}
p{
    margin-top: 4px;
}

.forms{
    display: flex;
    flex-direction: column;
}
.form_paper{
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
    width: 280px;
}
.submit{
    margin-top: 20px;
}