.container_spons{
    height: 150vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
     background-color: #13294B;  ;
    padding-top: 100px;
    padding-bottom: 100px;
}
.container{
    margin-top: 20px;
    margin: 40px;
    
}


.spons_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 95%;
}

.spons_col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* padding: 10px; */
    width: 200px;
    margin-left: 40px;
    margin-right: 40px;
    /* margin-top: 30px; */
}
.sponsimg{
    height: 140px;
    width: 220px;
    object-fit: cover;
    border-radius: 5px;
}
.spons_title{
  color: aliceblue;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}



@media (max-width:900px) {
    .container_spons{
        height: 750vh;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
    }
    
    .spons_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 90%;
        flex-direction: column;
    }
    
    .spons_col{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 220px;
        width: 220px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .sponsimg{
        height: 220px;
        width: 300px;
        object-fit: cover;
        border-radius: 5px;
    }
    .spons_title{
      color: aliceblue;
      font-size:33px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
   
}




@media (max-width:900px) {
    .container_spons{
        height: 750vh;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
    }
    
    .spons_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 90%;
        flex-direction: column;
    }
    
    .spons_col{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 220px;
        width: 220px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .sponsimg{
        height: 220px;
        width: 300px;
        object-fit: cover;
        border-radius: 5px;
    }
    .spons_title{
      color: aliceblue;
      font-size:33px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
   
}



@media (max-width:400px) {
    .container_spons{
        height: 750vh;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
    }
    
    .spons_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 90%;
        flex-direction: column;
    }
    
    .spons_col{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 220px;
        width: 220px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .sponsimg{
        height: 220px;
        width: 220px;
        object-fit: cover;
        border-radius: 5px;
    }
    .spons_title{
      color: aliceblue;
      font-size:33px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
   
}